footer {
    background: url("../../img/bg.jpg");
    display: flex;
    flex-direction: row;
}

footer .copyright {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    margin-right: 10vw;
}

footer a{
    font-size: 30px;
    color: white;
    margin: 0 10px 0 10px;
}