section{
    display: flex;
    flex-direction: column;
}

.texto{
    height: 300px;
}

.texto p{
    text-align: justify;
    margin-top: 20px;
}

.texto .titulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: #0078b3;
}

.texto .ansiedade{
    text-align: center;
    font-size: 30px;
    color: #0078b3;
}

.texto img{
    width: 200px;
}

.imagem img{
    width: 70%;
    margin-top: -30px;
    margin-left: 180px;
    margin-bottom: 30px;
}