section{
    display: flex;
    flex-direction: column;
}

.texto{
    width: 95vw;
    height: 50vh;
    font-size: 1.2vw;
}

.texto p{
    text-align: justify;
    margin-top: 20px;
}

.texto .titulo{
    padding: 2vh;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: #0078b3;
}

.texto .ansiedade{
    text-align: center;
    font-size: 30px;
    color: #0078b3;
}

.texto img{
    width: 15vw;
    margin-right: 15px;
    transform: scale(90%);
    transition: ease-in transform 1s;
}

.texto img:hover{
    transform: scale(1.05);
}

.imagem img{
    width: 60vw;
}

.depoimentos{
    text-align: center;
    font-size: 30px;
    color: #0078b3;
}

.box{
    font-size: 1.2vw;
    padding: 5vh;
    height: 55vh;
}

.box figure{
    display: inline-block;
    width: 25vw;
    margin: 2vw;
}

.box figure img{
    width: 10vw;
    margin-left: 7vw;
}

.nome{
    font-size: 20px;
    color: #0078b3;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.participe {
    width: 10vw;
    height: 8vh;
    background: lightblue;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    text-align: center;
}

.participe:hover {
    background: #0078b3;
    transform: scale(1.2);
}